<div class="card">
    <div class="card-title">
        <h3>{{ cardInfo.title }}</h3>
        <small class="card-setcode">{{ cardInfo.setCode }}</small>
    </div>
    <div class="card-info">
        <div class="card-level"><strong>Level</strong>: {{ cardInfo.level }}</div>
        <div class="card-type"><strong>Type</strong>: {{ cardInfo.type }}</div>
        <div class="card-race"><strong>Race</strong>: {{ cardInfo.race }}</div>
        <div class="attribute"><strong>Attribute</strong>: {{ cardInfo.attribute }}</div>
        <div class="card-description"><strong>Description</strong>: {{ cardInfo.description }}</div>
        <div class="card-atk"><strong>Attack</strong>: {{ cardInfo.attack }}</div>
        <div class="card-def"><strong>Defense</strong>: {{ cardInfo.defense }}</div>
    </div>
</div>

{{!-- <div class="card">
    <div class="card-title">
        <h3>Yami</h3>
    </div>
    <div class="card-info">
        <div class="card-type"><strong>Type</strong>: Spell Card</div>
        <div class="card-race"><strong>Race</strong>: Field</div>
        <div class="card-description"><strong>Description</strong>: All Fiend and Spellcaster
            monsters on the field gain 200 ATK/DEF, also all Fairy monsters on the field lose 200
            ATK/DEF.</div>
    </div>
</div> --}}
